/*========== excuse page=========== */


.home_page {
    width          : 100%;
    height         : 100vh;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.excuse_page {
    max-width: 800px;
    width    : 100%;
    margin   : 100px auto;
}

/* excuse_component */
.home_page .excuse_component {
    min-height: 300px;
    width     : 500px;
    overflow  : hidden;
    padding   : 10px;

    text-align     : center;
    background     : #ccc;
    position       : relative;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    animation      : 3s ease 0s normal none running zoom-in-zoom-out;
}


.excuse_buttont,
.excuse_title {
    width: 100%;
}

/* excuse_message */
.excuse_message {
    flex: 1;

    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
}

.excuse_message p {
    max-width     : 400px;
    width         : 100%;
    color         : var(--primary-color);
    text-transform: capitalize;
    font-weight   : 600;
}

.excuse_message p,
.excuse_message img {
    animation: 5s ease 0s normal 1 zoom-in-zoom-out;
}

.excuse_message p {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.excuse_message img {
    width: 200px;
}

/* excuse_buttont */

.excuse_buttont {
    border-color  : var(--primary-color);
    color         : #fff;
    box-shadow    : 0 0 40px 40px var(--primary-color) inset, 0 0 0 0 var(--primary-color);
    transition    : all 150ms ease-in-out;
    text-transform: uppercase;
    animation     : 5s ease 0s normal 1 zoom-in-up;
    position      : absolute;
    left          : 50%;
    transform     : translateX(-50%);
    width         : 450px;
    bottom        : 5px;
}

.excuse_buttont:hover {
    box-shadow : 0 0 10px 0 var(--primary-color) inset, 0 0 10px 4px var(--primary-color);
    color      : var(--primary-color);
    font-weight: 900;
}

/* table */
.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: #cce3f2 !important;
}

@keyframes zoom-in-zoom-out {
    0% {
        opacity  : 0;
        transform: scale(.5, .5);
    }

    100% {
        opacity  : 1;
        transform: scale(1, 1);
    }
}

@keyframes zoom-in-up {
    0% {

        bottom: -100px;
    }

    100% {
        bottom: 5px;
    }
}