:root {
    --gray         : #6c757d;
    --white        : #fff;
    --primary-color: #085385;
    --cart-link    : #9cd3ef;
    --green-color  : #1c5b7cc2;
}

* {
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;
}

html,
body {
    background: var(--white);
}

.App {
    width      : 100%;
    min-height : 100vh;
    background : var(--white);
    font-family: var(--font-foure);
    position   : relative;

}


.main {
    margin: auto 20px;
}

.pointer {
    cursor: pointer;
}

body .APP .modal.show {
    display: block
}

body .APP .modal.fade {
    display: none
}

.header {
    position          : fixed;
    top               : 0;
    left              : 0;
    width             : 100%;
    display           : flex;
    align-items       : center;
    justify-content   : center;
    /* height         : 30px; */
    padding           : 12px;
    background        : var(--primary-color);
}

.header ul {

    padding        : 0;
    margin         : 0;
    display        : flex;
    align-items    : center;
    justify-content: center
}

.header ul li {
    margin    : 0 5px;
    list-style: none;
}

.header ul li a {
    color: #fff
}

@import url("./excuse.style.css");
@import url("./loading.css");
@import url("./alert.css");